<body>
    <div class="log">
        <a asp-controller="Account" asp-action="Registor"  type = "submit" class="btn btn-success">Registor</a>
        <a asp-controller="Account" asp-action="Login" type="submit" class="btn btn-primary">Login</a>
    </div>

</body>

<style>
    .log{
      
        display: flex;
        margin-left :400px;
        margin-top:200px;
    }

    .log a:first-child{
        margin-right:80px
    }
  

   
</style>
